@import "../../../../styles/bootstrap/variables";
@import "../../../../styles/bootstrap/mixins";

.textBlockClass {
  @include textBlock;

  ul {
    @include bulletList;
  }
}

.lightMode {
  color: $dark;
}

.darkMode {
  color: white;
}
