@import "../../../styles/bootstrap/variables";
@import "../../../styles/bootstrap/mixins";

.navbarClass {
  box-shadow: 0 2px 4px 0 rgba(59, 78, 138, 0.15);

  @include media-breakpoint-up(lg) {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  @include media-breakpoint-down(lg) {
    > a {
      padding-left: 1.5rem;
    }
  }

  button[class="navbar-toggler"],
  button[class="navbar-toggler collapsed"] {
    border: none;
    color: transparent;
    padding: 0;
    padding-right: 1.5rem;
  }

  .linkWrapperClass {
    position: relative;
  }

  .navLinkClass {
    text-decoration: none;
    @include media-breakpoint-up(lg) {
      font-weight: 600;
      color: $dark !important;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      color: $white;
      font-weight: 500;
      display: flex;
      flex-grow: 1;
      position: relative;
      border-bottom: solid 1px rgba(255, 255, 255, 0.11);
      padding: 1rem 1.5rem;
    }
  }

  .dropdownNavLinkClass {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      color: $white !important;
    }
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-grow: 1;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      color: $dark;
    }
  }
}

// Dropdown menu item
.primaryNavLinkClass {
  @include media-breakpoint-up(lg) {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  > a {
    text-decoration: none;

    @include media-breakpoint-down(lg) {
      color: $white !important;
      font-weight: 500;
      font-size: 20px;
      display: flex;
      flex-grow: 1;
      position: relative;
      border-bottom: solid 1px rgba(24, 57, 79, 0.1);
      padding: 1rem 1.5rem !important;

      &:after {
        background-image: url("../../../images/chevron-down.svg");
        background-repeat: no-repeat;
        background-size: 20px 12px;
        content: "";
        width: 20px;
        height: 12px;
        vertical-align: middle;
        position: absolute;
        right: 20px;
        top: 50%;
        margin: -6px 0 0;
        border: none !important;
      }
    }

    @include media-breakpoint-up(lg) {
      color: $dark !important;
      font-weight: 600;
      &:after {
        background-image: url("../../../images/chevron-down.svg");
        background-size: 15px 7px;
        background-repeat: no-repeat;
        content: "";
        width: 15px;
        height: 10px;
        vertical-align: middle;
        margin-left: 0.5rem;
        border: none !important;
      }

      &:hover {
        color: $secondary;
      }
    }
  }

  > div {
    // fix gap between dropdown link and dropdown menu on production builds
    @include media-breakpoint-up(lg) {
      margin-top: 0 !important;
    }
  }
}

.activePrimaryNavLinkClass {
  @include media-breakpoint-up(lg) {
    background-color: $primary !important;

    > a {
      color: $white !important;
    }

    > div {
      background-color: $primary;
      border-radius: 0 0 24px 24px;
      margin-top: 0 !important;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 24, 48, 0.2);
      max-width: 620px;
      width: 620px;
      @include media-breakpoint-down(xl) {
        max-width: 420px;
        width: 420px;
      }
    }
  }

  > a:after {
    background-image: url("../../../images/chevron-up.svg");
    background-repeat: no-repeat;
  }
  @include media-breakpoint-down(lg) {
    > a {
      background-color: $primaryOffset2;
      font-weight: 600;
    }
    > div {
      background-color: $tertiaryOffset;
      border-radius: 0;
    }
  }
}

.currentNavLinkClass {
  background-color: $secondary;
  @include media-breakpoint-down(lg) {
    color: $dark !important;
    > a {
      color: $dark !important;
    }
  }
}

.leftPositionClass > div {
  left: 0;
  right: auto !important;
}

.rightPositionClass > div {
  right: 0;
  left: auto !important;
}

.openMobileNavClass {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow-y: scroll;
  @include transition($transition-collapse);
  background-color: $primary;

  > div:first-child {
    width: 100%;
  }
}

.topNavbarClass {
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
    > div {
      display: flex;
      background-color: $secondary;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 1rem;
    }
    a {
      display: flex;
      align-items: center;
      color: $dark;
      padding: 1rem 1rem;
    }
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    background-color: $secondaryOffset;
    padding: 1.5rem;
    a {
      color: $dark !important;
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
    }
  }
}

main {
  @include media-breakpoint-down(lg) {
    margin-top: 4.575rem;
  }
}
