.dropdown-item {
  font-size: 1.25rem;
  &:hover,
  &:active {
  }
  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F105" !important;
    vertical-align: 0;
    font-size: 24px;
    color: $primary;
  }
}
