@import "~bootstrap/scss/_mixins.scss";

@mixin clearButtonStyle {
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  border: 0;
  background-color: inherit;
}

@mixin innerContainer {
  position: relative;
  box-sizing: border-box;
  padding: 0 $size6;

  @include media-breakpoint-down(sm) {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 $size11;
  }
}

@mixin link {
  color: $accent;
  text-decoration: underline;
  font-weight: bold;

  &:hover {
    color: darken($accent, 10%);
  }
}

@mixin textBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: $size5;

  h3 {
    margin: $size5 0 $size4 0;
  }
}

@mixin bulletList {
  margin-left: $size5;
  padding-left: 0;

  li {
    margin-left: $size5;
    margin-bottom: $size2;
    &::marker {
      margin-right: 0 !important;
      color: $accent;
    }
  }
}

@mixin linkClass {
  font-weight: 500;
  line-height: $size5;
  color: $accent;
  text-decoration: underline;

  &:hover {
    color: darken($color: $accent, $amount: 15%);
  }
}

@mixin gradientBg($direction: 180deg, $color1: #18394f, $color2: #1d7da6) {
  background: -webkit-linear-gradient($direction, $color1, $color2);
}

@mixin gradientText($direction: 45deg, $color1: #18394f, $color2: #1d7da6) {
  @if $direction == 45deg {
    color: -webkit-linear-gradient($direction), $color1, $color2;
    background: -webkit-linear-gradient($direction, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } @else {
    background: -webkit-linear-gradient($direction, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin gradientBorder(
  $size: 1px,
  $color1: #31cbff,
  $color2: #006ccf,
  $radius: 0,
  $position: absolute,
  $zIndex: -1
) {
  position: relative;
  box-sizing: border-box;

  background-clip: padding-box;
  border: solid $size transparent;
  border-radius: $radius;

  &:before {
    content: "";
    position: $position;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zIndex;
    margin: -$size;
    border-radius: inherit;
    background: linear-gradient(to bottom, $color1, $color2);
  }
}

@mixin gradientBorderTargettedRadius(
  $size: 1px,
  $color1: #31cbff,
  $color2: #006ccf,
  $direction: bottom,
  $zIndex: -1,
  $top-left: 0,
  $top-right: 0,
  $bottom-left: 0,
  $bottom-right: 0
) {
  position: relative;
  box-sizing: border-box;

  background-clip: padding-box;
  border: solid $size transparent;
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zIndex;
    margin: -$size;
    border-radius: inherit;
    background: linear-gradient(to $direction, $color1, $color2);
  }
}

@mixin gradientBorderLine(
  $position: relative,
  $color1: #31cbff,
  $color2: #006ccf,
  $direction: right,
  $zIndex: -10,
  $bg: $primary,
  $top: 0,
  $bottom: 0,
  $right: 0,
  $left: 0
) {
  position: $position;
  z-index: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: $bg;
  border-top: solid $top transparent;
  border-bottom: solid $bottom transparent;
  border-right: solid $right transparent;
  border-left: solid $left transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zIndex;

    @if $top {
      margin-top: -$top;
    }
    @if $bottom {
      margin-bottom: -$bottom;
    }
    @if $right {
      margin-right: -$right;
    }
    @if $left {
      margin-left: -$left;
    }

    background: linear-gradient(to $direction, $color1, $color2);
  }
}

@mixin gradientBorderLine2(
  $position: relative,
  $color1: #31cbff,
  $color2: #006ccf,
  $direction: right,
  $zIndex: -10,
  $bg: $primary,
  $top: 0,
  $bottom: 0,
  $right: 0,
  $left: 0,
  $marginTop: 0,
  $marginBottom: 0,
  $marginRight: 0,
  $marginLeft: 0,
  $height: 4px
) {
  position: $position;
  background-color: $bg;

  &:after {
    content: "";
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $zIndex;
    height: $height;

    @if $marginTop {
      margin-top: -$marginTop;
    }
    @if $marginBottom {
      margin-bottom: -$marginBottom;
    }
    @if $marginRight {
      margin-right: -$marginRight;
    }
    @if $marginLeft {
      margin-left: -$marginLeft;
    }

    background: linear-gradient(to $direction, $color1, $color2);
  }
}

@mixin inputGradientBorder() {
  border-radius: 15px;
  padding: 2.8px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ffa11e, #f7821e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: none;
}
