@import "./variables";
@import "./mixins";

.contact-form-success-modal-class {
  backdrop-filter: saturate(90%) blur(3px);

  .modal-dialog {
    @include media-breakpoint-up(lg) {
      max-width: initial;
    }
  }
  .modal-content {
    padding: 1rem;
    @include media-breakpoint-up(lg) {
      padding: 4rem;
      width: 1088px;
      height: max-content;
      margin: 0 auto;
    }

    background-color: $primary;
    color: white;
    width: auto;
    height: auto;
    @include gradientBorderTargettedRadius(
      $size: 2px,
      $color1: $secondary,
      $color2: $secondaryOffset,
      $top-left: 5.25rem,
      $top-right: 5.25rem,
      $bottom-right: 5.25rem
    );
    .modal-header {
      border: none;
      .btn-close {
        font-size: 2.5rem;
        position: absolute;
        right: 38px;
        top: 21px;
        @include media-breakpoint-up(md) {
          top: 62px;
          right: 98px;
        }
        opacity: 1;
      }
    }
    .modal-body {
      h3 {
        padding-bottom: 1rem;
      }
    }
  }
}
