.nav-link {
  text-decoration: underline;
}

.navbar-light.bg-transparent {
  .navbar-nav {
    .nav-link {
      color: $white;

      // @include hover-focus {
      //   color: $white;
      // }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $white;
    }
  }

  .navbar-toggler {
    color: $white;
  }

  // .navbar-toggler-icon {
  //   background-image: $navbar-light-toggler-icon-bg;
  // }

  .navbar-text {
    color: $white;
    a {
      color: $white;

      // @include hover-focus {
      //   color: $white;
      // }
    }
  }

  .dropdown-toggle:after {
    color: $white;
  }

  .navbar-toggler-icon {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-transparent-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

    // &:after {
    //     font: normal normal normal 14px/1 FontAwesome;
    //     content: "\F0c9" !important;
    //     vertical-align: 0;
    //     font-size: 24px;
    //     color: #fff;
    //     display: inline-block;
    // }

    //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    //background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$white}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
}
