@import "./variables";

/* lexend-300 - latin */
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  src: local("Lexend"),
    url("../fonts/lexend/lexend-v5-latin-300.woff2") format("woff2"),
    url("../fonts/lexend/lexend-v5-latin-300.woff") format("woff");
  font-display: swap;
}
/* lexend-regular - latin */
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: local("Lexend"),
    url("../fonts/lexend/lexend-v5-latin-regular.woff2") format("woff2"),
    url("../fonts/lexend/lexend-v5-latin-regular.woff") format("woff");
  font-display: swap;
}

/* lexend-500 - latin */
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: local("Lexend"),
    url("../fonts/lexend/lexend-v5-latin-500.woff2") format("woff2"),
    url("../fonts/lexend/lexend-v5-latin-500.woff") format("woff");
  font-display: swap;
}

/* lexend-600 - latin */
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: local("Lexend"),
    url("../fonts/lexend/lexend-v5-latin-600.woff2") format("woff2"),
    url("../fonts/lexend/lexend-v5-latin-600.woff") format("woff");
  font-display: swap;
}

body {
  color: $dark;
  // font-family: "Lexend", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: $size10; //48px

  @include media-breakpoint-down(sm) {
    font-size: $size9; //40px
  }
}

h2,
.h2 {
  font-size: $size7; // 32px
}

h3,
.h3 {
  font-size: $size6; //24px
}

a {
  color: $dark;
}

a:hover {
  color: lighten($dark, 20%);
}
