@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

// Bootstrap overrides & new variables

// COLOURS

$primary: #16756a;
$primaryOffset: #1e998a;
$primaryOffset2: #0f6157;
$primarySwirl: rgba(#fff, 0.15);
$secondary: #f9eee4;
$secondaryOffset: #ebe4d3;
$tertiary: #23baa8;
$tertiaryOffset: #e3efee;
$accent: #fa8d2a;
$accentOffset: #f9eee4;
$dark: #101f2f;
$grey: #ebe4d3;
$lightBlue: #31cbff;
$lightBlueOffset: #006ccf;
$lightOrange: #ffa11e;
$lightOrangeOffset: #f7821e;

// $enable-gradients: true;

$theme-colors: (
  "primary": $primary,
  "primaryOffset": $primaryOffset,
  "secondary": $secondary,
  "secondaryOffset": $secondaryOffset,
  "tertiary": $tertiary,
  "tertiaryOffset": $tertiaryOffset,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "accent": $accent,
  "accentOffset": $accentOffset,
);

// SPACING & SIZES

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: (
    $spacer,
  ),
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 2,
  ),
  8: (
    $spacer * 2.25,
  ),
  9: (
    $spacer * 2.5,
  ),
  10: (
    $spacer * 3,
  ),
  11: (
    $spacer * 3.75,
  ),
  12: (
    $spacer * 4.5,
  ),
  13: (
    $spacer * 5,
  ),
  14: (
    $spacer * 6,
  ),
);

$size1: ($spacer * 0.25); // 4px
$size2: ($spacer * 0.5); // 8px
$size3: ($spacer * 0.75); // 12px
$size4: ($spacer); // 16px
$size5: ($spacer * 1.25); // 20px
$size6: ($spacer * 1.5); // 24px
$size7: ($spacer * 2); // 32px
$size8: ($spacer * 2.25); // 36px
$size9: ($spacer * 2.5); // 40px
$size10: ($spacer * 3); // 48px
$size11: ($spacer * 3.75); // 60px
$size12: ($spacer * 4.5); // 72px
$size13: ($spacer * 5); // 80px
$size14: ($spacer * 6); // 96px

$border-radius: $size2;
$border-radius-sm: $size3;
$border-radius-lg: $size5;

// FONTS

$font-family-base: "Lexend", helvetica;
$font-weight-bold: 500;
$font-weight-bolder: 600;
$link-decoration: underline;

// NAV

$nav-link-padding-y: 1rem;
//$nav-link-padding-x: 1rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-transparent-color: rgba($white, 0.9);
$mobile-navbar-height: 100px;
$navbar-height: 64px;

// GRID

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1093px,
  // xxl: 1212px //1380px, // NEW VARIABLE,,,,,,,,,,,,,,,,
);

// MISCELLANEOUS

$enable-smooth-scroll: false;
