@import "../../styles/bootstrap/variables";
@import "../../styles/bootstrap/mixins";

.innerContainerClass {
  @include innerContainer;
}

.textBlockClass {
  @include textBlock;

  ul {
    @include bulletList;
  }
}
