.button {
  display: inline-block;
  padding: 17px 35px 17px 35px;
  border-radius: 32px;
  border: solid 5px #aacd3f;
  background-color: #95c10f;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1d143c;
  text-decoration: underline;
}

.button:hover {
  border: solid 5px lighten(#aacd3f, 5%);
  background-color: lighten(#95c10f, 3%);
  text-decoration: underline;
}
