@import "./bootstrap/bootstrap.scss";
@import "./bootstrap/modal.scss";

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  .modal-open {
    position: fixed;
  }
}

a,
.btn,
.transition {
  transition: all 0.15s ease-in-out;
}

// VENDOR OVERIDES

nav[class="breadcrumb"] {
  background-color: transparent;

  .breadcrumb__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 $size2 0;
    font-size: 14px;

    .breadcrumb__list__item {
      list-style-type: none;
      font-weight: 500;

      .breadcrumb__link {
        text-decoration: underline;

        &:hover {
          color: $accent;
        }
      }

      &:last-of-type {
        .breadcrumb__link {
          text-decoration: none;
        }
      }
    }

    .breadcrumb__separator {
      margin: 0 5px;
      font-size: 14px;
    }
  }
}

.image-banner-crumbs {
  * {
    color: white;
  }
}

.quote-slider ul li.slick-active button {
  opacity: 1;
}

.slick-initialized .slick-slide.slick-active {
  z-index: 1;
}

// Gap between slides
.slick-list {
  margin: 0 -10px;
}
.slick-slide > div {
  padding: 0 10px;
}

.tooltip [class$="inner"] {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: $primary;
}

.tooltip [class$="arrow"]:before {
  border-top-color: $primary !important;
}

.btn-accent:hover {
  background-color: $secondary !important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  padding: none !important;
  border-color: white !important;
}
