@import "./bootstrap/variables";

:export {
  primary: $primary;
  primaryOffset: $primaryOffset;
  primarySwirl: $primarySwirl;
  secondary: $secondary;
  secondaryOffset: $secondaryOffset;
  tertiary: $tertiary;
  tertiaryOffset: $tertiaryOffset;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
  accent: $accent;
  accentOffset: $accentOffset;
  dark: $dark;
  grey: $grey;
  lightBlue: $lightBlue;
  lightBlueOffset: $lightBlueOffset;
  lightOrange: $lightOrange;
  lightOrangeOffset: $lightOrangeOffset;
}
