@import "../../styles/bootstrap/variables";
@import "../../styles/bootstrap/mixins";

.footerClass {
  @include gradientBg(180deg, $primaryOffset, $primary);

  border-top: solid 3px $secondary;
}

.navbarClass {
  background-image: none;
}

div.btnGroupClass {
  z-index: 0;
  display: flex;
  margin: $size3 0;
  background: unset !important;

  span:first-of-type {
    margin-left: 0;
  }
}

.shareBtnClass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  vertical-align: middle;

  margin: 3px 5px;
  padding: 0;
  line-height: 1.5;

  background: $light;

  @include gradientBorderTargettedRadius(
    $size: 2px,
    $top-left: $size1,
    $top-right: $size1,
    $bottom-right: $size1
  );

  &:hover {
    background: darken($color: $light, $amount: 5%);
    @include gradientBorderTargettedRadius(
      $size: 2px,
      $top-left: $size1,
      $top-right: $size1,
      $bottom-right: $size1
    );
  }
}

.trustpilotLogoClass {
  max-width: 271px;
}

.SRAlogoWrapperClass {
  height: 163px;
}

.SRAlogoInnerWrapperClass {
  position: relative;
  padding-bottom: 59.1%;
  height: 163px;
  overflow: hidden;
}

.SRAlogoClass {
  position: absolute !important;
  top: 0px;
  left: 0px;

  margin: 0px;
  padding: 0px;

  border: none;
  background-color: transparent;
}

.trustpilotCarouselClass {
  @media (max-width: 550px) {
    .carousel {
      width: 320px;
    }
    .carousel iframe {
      height: 290px !important;
    }
  }
}
