@import "../../styles/bootstrap/variables";
@import "../../styles/bootstrap/mixins";

.sectionClass {
  position: relative;
  z-index: 0;
  width: 100%;

  &.primaryBkgd {
    background-color: $primary;
    h2 {
      color: $light;
    }
  }
  &.lightBkgd {
    background-color: $tertiaryOffset;
  }
}

.bkgdPatternContainerClass {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.bkgdPatternClass {
  position: absolute;
  top: -525px;
  left: -125px;
}

.containerClass {
  position: relative;
  z-index: 2;

  @include media-breakpoint-down(sm) {
    width: 94%;
    margin: auto;
  }
}
