@import "../../styles/bootstrap/_variables";
@import "../../styles/bootstrap/mixins";

.linkClass {
  display: flex;
  width: max-content;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.buttonClass {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: max-content;
  padding: $size3 $size5 !important;
  margin-bottom: $size3 !important;

  color: $dark;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: $accent;

  &:hover {
    background-color: darken($accent, 7%);
    color: $dark;

    .iconWrapperClass {
      background-color: rgba(white, 0.8);
    }
  }

  /*
   * VARIANTS
   */

  &.primaryBg {
    background-color: $primary;
  }

  &.outlineButtonClass {
    background-color: none;
  }

  &.squareClass {
    border-radius: 0;
  }

  &.pillClass {
    border-radius: 100px;
  }

  &.spacedClass {
    margin: 0;
  }

  &.disabledClass {
    background-color: darken($primary, 30%);
  }
}

.linkClass,
.buttonClass {
  @media (max-width: 500px) {
    width: 100%;
  }
}

/*
 * ICON
 */

.iconWrapperClass {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: end;
  width: 35px;
  height: 35px;
  margin-left: 40px;

  border-radius: 50px;
  background-color: rgba(white, 0.4);
}
