@import "../../styles/bootstrap/variables";
@import "../../styles/bootstrap/mixins";

.postCardClass {
  width: 100%;
  border: none;
  border-radius: $size5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @media (min-width: 450px) {
    width: 420px;
  }
  @include media-breakpoint-up(lg) {
    width: 290px;
  }
  @include media-breakpoint-up(xl) {
    width: 328px;
  }
}

.imageWrapperClass {
  height: 184px;
}

.mainImageClass {
  height: 100%;
  width: 100%;
  border-top-left-radius: $size5;
  border-top-right-radius: $size5;
}

.standinImgWrapperClass {
  max-height: 205px;
  height: 100%;
  overflow: hidden;
  background-color: $secondaryOffset;
  border-top-left-radius: $size5;
  border-top-right-radius: $size5;
}

.titleLinkClass {
  color: $dark;
  font-size: $size4;
  font-weight: 500;
}
