@import "./../../styles/bootstrap/variables";
@import "./../../styles/bootstrap/mixins";

.floatingContainerClass {
  @include gradientBorderTargettedRadius(
    $size: 4px,
    $top-left: $size3,
    $bottom-left: $size3,
    $zIndex: 9,
    $direction: right
  );

  position: fixed;
  right: 0px;
  top: 175px;
  z-index: 10;

  padding: 0px;
  border-right: none;
}

.innerContainerClass {
  z-index: 11;
  padding: $size3;
  border-top-left-radius: $size3;
  border-bottom-left-radius: $size3;
  font-weight: 600;
  color: $light;
  text-align: center;
  background: $primary;

  .textClass {
    width: 87px;
    margin-bottom: 0px;

    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
  }

  &:hover {
    cursor: pointer;
    background: darken($color: $primary, $amount: 3%);
  }
}

.mobileFloatingGradientClass {
  @include gradientBg(180deg, $lightBlue, $lightBlueOffset);
}
