@import "../../styles/bootstrap/_variables";
@import "../../styles/bootstrap/mixins";

.textClass {
  flex-basis: 70%;
}

.blockquoteClass {
  all: initial;
  * {
    all: unset;
  }
  width: 500px;
  .quoteClass {
    display: inline;
    font-family: "Quicksand";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
    color: $info;
  }
}

.authorClass {
  display: block;
  margin: 1rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  font-style: normal;
  color: $info;
}

.iconClass {
  fill: $info;

  &.rightIconClass {
    transform: rotate(180deg);
  }
}
