@import "../../styles/bootstrap/variables";
@import "../../styles/bootstrap/mixins";

.scrollTopClass {
  position: fixed;
  width: 100%;
  bottom: 1.25rem;
  left: 40%;
  align-items: center;
  height: 0.9375rem;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: $secondary;
  margin-bottom: 0px;
  &:hover {
    opacity: 1;
  }
  @include media-breakpoint-up(md) {
    left: 46%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
