@import "../../styles/bootstrap/_variables";
@import "../../styles/bootstrap/mixins";

.shareLabelClass {
  margin-right: 1rem;
  font-weight: 500;
}

.horizontalClass {
  display: flex;
}

.verticalClass {
  display: none;

  @include media-breakpoint-up(xl) {
    position: absolute;
    right: -62px;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.shareBtnClass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: 7px;
  padding: 8px;
  background-color: $accent;
  line-height: 1.5;
  border: none;
  border-radius: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  button {
    svg {
      padding: 2px;
    }
  }
  svg {
    fill: #fff;
  }
  &:hover {
    background-color: $primary;
  }
}

.rotateIconClass {
  transform: rotate(149deg);
}

.iconClass {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: white;
}
