@import "../../styles/bootstrap/_variables";
@import "../../styles/bootstrap/mixins";

.videoClass {
  padding: 1rem 0;
  width: 100%;
  height: calc(
    250px + (378 - 250) * ((100vw - 360px) / (672 - 360))
  ) !important;
  @include media-breakpoint-up(md) {
    height: 482px !important;
  }
}
